#secTabla > div {
    display: table;
    width: 40%;
}

#secTabla > div > div {
    display: table-row;
    width: 100%;
}

#secTabla > div > div > div {
    display: table-cell;
    text-align: center;
    border: 1px solid silver;
    width: 50%;
    padding: 1px;
}

#secTabla > div > div > div > input {
    width: 100%;
    border: none;
}
/*CAJERO TICKET*/
#mainCaj{
    margin-left: 5em;
}
#ticket{
    margin-top: 5em;
    margin-left: 3em;
}
#añadir-ticket{
    width: 23%;
}
#posibleTicket{
    margin-top: 2em;
    height: 700px;
    width: 400px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}