#secTabla > div {
    display: table;
    width: 40%;
}

#secTabla > div > div {
    display: table-row;
    width: 100%;
}

#secTabla > div > div > div {
    display: table-cell;
    text-align: center;
    border: 1px solid silver;
    width: 25%;
    padding: 1px;
}

#secTabla > div > div > div > input {
    width: 100%;
    border: none;
}